In [1]:
# Data 589 Lab 2 - Sofia Bahmutsky

#Question 1

#1.
data = spark.read.csv('/FileStore/tables/NCDB_2014_2016.csv',header=True, inferSchema=True)
data.show(5)

#2.
print("2. Number of collisions: ", data.count())

#3.
data.select(data['CollisionSeverity']).distinct().show()

#4.
data.groupBy(data['Year']).count().show()

#5.
from pyspark.sql.functions import mean
data.where(data['CollisionSeverity'] == 'Fatal').select(mean("Age")).alias("Average Age").show()

#6.
data.where((data['CollisionSeverity'] == 'Fatal') & (data['Month'] =='December') & (data['Year'] =='2014') & (data['CollisionHour'] <= 3) & (data['CollisionHour'] >= 2)).select(data['Gender'], data['Age']).show()

#7.
data.where(data['CollisionSeverity'] == 'Fatal').groupBy(data['Gender']).count().show()

#8.
import pyspark.sql.functions as func

data8 = data.groupBy(data['CollisionHour']).count().select(data['CollisionHour'], func.col("count").alias("Number of Collisions")).orderBy(func.col("count").asc()).show()

#9.
data.where(data['PersonPosition'].like('%left%')|data['PersonPosition'].like('%right%')).select(data['Year'], data['Month'], data['Gender'], data['Age']).orderBy(data['Year'].asc(), data['Month'].desc()).show(10)

#10
data.groupBy(data['Year'], data['Gender']).count().select(data['Year'], data['Gender'], func.col("count").alias("Total Number")).orderBy(data['Year'].asc(), data['Gender'].asc()).show()

In [2]:
# Question 2

#1.
dfQ = spark.read.csv('/FileStore/tables/questions.csv',header=True, inferSchema=True)

dfQT = spark.read.csv('/FileStore/tables/question_tags.csv',header=True, inferSchema=True)

In [3]:
#2.
a = dfQT.groupBy(dfQT['Tag']).count().select(dfQT['Tag'], func.col("count").alias("Count"))
a.where(a['Count'] > 1000000).select(a['Tag'], a['Count']).show()

In [4]:
#3.
df_join = dfQ.join(dfQT, dfQ.Id == dfQT.Id)
df_join.select(df_join['OwnerUserId'], df_join['AnswerCount'], df_join['Tag'], df_join['score']).show(5)